<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap" rel="stylesheet">
    <title>ToDo App</title>
</head>
<body>
    <header>
        <h1>To do</h1>
        <img src="/imagens/moon-icon.png" alt="Nova tarefa">
    </header>

    <form action="">
        <input type="text" id="nova tarefa" placeholder="criar nova tarefa" name="Nova tarefa">
        <button type="submit">Criar</button>
    </form>

    {{{body}}}
</body>
</html>